Source: deng-jdoom-pwad-darkening
Section: multiverse/games
Priority: optional
Maintainer: Jamie Jones <jamie_jones_au@yahoo.com.au>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: deng-jdoom-pwad-darkening
Architecture: all
Depends: deng, deng-iwad-doom2-installer
Description: The Darkening 11 Level Megawad for Doom 2 [SP, COOP, DM]
 The Darkening contains 11 Single Player and Co-operative missions,
 and 11 Deathmatch only levels.
 
