Source: ia32-libs-universe
Section: universe/libs
Priority: optional
Maintainer: Jamie Jones <jamie_jones_au@yahoo.com.au>
Build-Depends: debhelper (>> 3.0.0), dpkg-dev (>= 1.10.23), lsb-release
Standards-Version: 3.6.2.0

Package: ia32-libs-universe
Architecture: amd64 ia64
Depends: lsb-release, lib32gcc1, lib32z1, ia32-libs, lib32ncurses5, ia32-libs-sdl,
Suggests: ia32-libs-gtk, ia32-libs-kde, lib32mudflap0, lib32readline5
Description: ia32 shared libraries for use on amd64 and ia64 systems
 This package contains runtime libraries for the ia32/i386
 architecture, configured for use on an amd64 or ia64 Ubuntu system running
 a 64-bit kernel. These are packages from the Universe component of Ubuntu.
