[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pwad: The Darkening 2
GenericName=
Comment=The Darkening 2 12 Level Megawad for Doom 2 [SP, COOP, DM]
Exec=/usr/bin/doomsday -anifilter -texcomp -game jdoom -iwad /usr/share/games/doom/iwad/doom2/doom2.wad -file /usr/share/games/deng/Data/jDoom/pwad-darkening2/darken2.wad
Icon=/usr/share/pixmaps/deng.png
Terminal=0
Type=Application
Categories=Application;Game;ActionGame;
