#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
#export DH_COMPAT=3

# No building here
build: 

clean:
	dh_testdir
	dh_testroot

	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p debian/deng-jdoom-pwad-darkening2/usr/share/games/deng/Data/jDoom/pwad-darkening2
	install -m 644 darken2.wad debian/deng-jdoom-pwad-darkening2/usr/share/games/deng/Data/jDoom/pwad-darkening2
	mkdir -p debian/deng-jdoom-pwad-darkening2/usr/share/bug/deng-jdoom-pwad-darkening2
	cp debian/reportbug.control debian/deng-jdoom-pwad-darkening2/usr/share/bug/deng-jdoom-pwad-darkening2/control
	cp debian/reportbug.presubj debian/deng-jdoom-pwad-darkening2/usr/share/bug/deng-jdoom-pwad-darkening2/presubj
	cp debian/deng-jdoom-pwad-darkening2.desktop debian/deng-jdoom-pwad-darkening2/usr/share/applications/deng-jdoom-pwad-darkening2.desktop
	install -m 755 debian/reportbug.script debian/deng-jdoom-pwad-darkening2/usr/share/bug/deng-jdoom-pwad-darkening2/script

binary: binary-indep

binary-arch: 

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installmenu
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
