.directory
.DS_Store
macx_release_build
/doomsday/build/win32/license.txt
*.user.*
*-build-*
*-build
*.dsc
*.tar.gz
*.deb
*.changes
server-runtime
client-runtime
Zcustom.conf
.web.manifest
doxyissues-*.txt
doomsday/apidoc/api2
/distrib/win32/vcredist_x86.exe
Makefile.Debug
Makefile.Release
tools/*/debug
tools/*/release
vc100.pdb