[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist~
.directory
.DS_Store
._*
macx_release_build
/doomsday/build/win32/license.txt
*.user.*
*-build-*
*-build
build-*
*.dsc
*.tar.gz
*.deb
*.changes
server-runtime
client-runtime
Zcustom.conf
.web.manifest
doxyissues-*.txt
doomsday/apidoc/api2
/distrib/win32/vcredist_x86.exe
Makefile.Debug
Makefile.Release
tools/*/debug
tools/*/release
vc100.pdb
*.pyc
*~
precompiled.h.cpp
*.h.orig
*.cpp.orig
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
.vscode
.vsbuild
compile_commands.json
/products
/debian
/build
/deps
