/*  Deng phpBB 3.0 Forum Style Sheet */

img {
	border-width: 0;
}

p.right {
	text-align: right;
}

#search-box {
    white-space: nowrap; /* For Opera */
}

#search-box #keywords {
    background-color: #FFF;
}

#search-box li {
    text-align: right;
    margin-top: 4px;
}

#search-box img {
    vertical-align: middle;
    margin-right: 3px;
}

#currenttime {
    float: right;
}

.whoisonline, .forumpermissions, .statistics {
    font-size: 8pt;
}

.post {
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {
	background-color: #e2e2e2;
}

.fieldsbg {
	background-color: #eaeaea;
}

/* Horizontal lists
----------------------------------------*/

.separator {
    padding: 0 .25em;
    color: #DDD;
}

ul.linklist {
    display: block;
    margin: 0;
    padding:0;
    font-size: 8pt;
    white-space: nowrap;
}

ul.linklist li {
    display: block;
    list-style-type: none;
    float: left;
    width: auto;
    margin-right: 5px;
    line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
    padding-bottom: 1px;
    margin-bottom: 1px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

ul.leftside {
	/*float: left;/**/
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
    /* See tweaks.css */
    font-family: sans-serif;
    font-size: 8pt;
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody th {
    padding: 5px;
    text-align: left;
    color: #333333;
}

/* Specific column styles */
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined,
table.table1 .visited,
table.table1 .active {
    text-align: left;
    width: 15%;
    white-space:nowrap;
}

table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; line-height: 130%; }
table.table1 .info div	{ width: 100%; white-space: nowrap; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
    float: right;
    width: auto;
    font-size: 6pt;
    font-family: monospace;
    text-transform: uppercase;
    line-height: 100%;
}

table.info td {
    padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
    float: left;
    clear: left;
    width: 49%;
}

.column2 {
    float: right;
    clear: right;
    width: 49%;
}

.columnend {
    clear: both;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

.profile-section .avatar-preview {
    text-align: center;
    clear: both;
}

/* Pagination
---------------------------------------- */
.pagination {
    height: 1%; /* IE tweak (holly hack) */
    width: auto;
    text-align: right;
    margin-top: 5px;
    float: right;
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.pagination span.page-sep {
    display: none;
}

li.pagination {
    margin-top: 0;
}

.pagination strong, .pagination b {
    font-weight: normal;
}

.pagination span strong {
    padding: 0 2px;
    margin: 0 2px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    font-size: 0.9em;
}

.pagination span a, .pagination span a:link,
.pagination span a:visited, .pagination span a:active {
    font-weight: normal;
    text-decoration: none;
    color: #747474;
    margin: 0 2px;
    padding: 0 2px;
    background-color: #eeeeee;
    border: 1px solid #bababa;
    font-size: 0.9em;
    line-height: 1.5em;
}

.pagination span a:hover {
    border-color: #d2d2d2;
    background-color: #d2d2d2;
    color: #FFF;
    text-decoration: none;
}

.pagination img {
    vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
    display: block;
    float: right;
    width: auto;
    margin-top: 0;
    padding: 1px 0 1px 15px;
    font-size: 0.9em;
    background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
    background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #d2d2d2;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
    float: right;
    width: auto;
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: right;
}

.copyright {
    text-align: right;
    font-size: 0.8em;
}

.small {
    font-size: 0.9em !important;
}

.titlespace {
    margin-bottom: 15px;
}

.headerspace {
    margin-top: 20px;
}

.error {
    color: #bcbcbc;
    font-weight: bold;
    font-size: 1em;
}

.reported {
    background-color: #f7f7f7;
}

li.reported:hover {
    background-color: #ececec;
}

div.rules span.heading h1 {
    padding: 0;
    margin-top: .15em;
    margin-bottom: .4em;
}

p.rules {
    background-color: #ececec;
    padding: 5px;
}

/* Coloured usernames */
.username-coloured {
    font-weight: bold;
}

/* Links on gradient backgrounds
#search-box a:link, .navbg a:link, th a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#search-box a:visited, .navbg a:visited, th a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#search-box a:hover, .navbg a:hover, th a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#search-box a:active, .navbg a:active, th a:active {
	color: #ffffff;
	text-decoration: none;
}
*/

/* Links for forum/topic lists */
.forumtitle, .topictitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

a.top {
    background: none no-repeat top left;
    text-decoration: none;
    width: {IMG_ICON_BACK_TOP_WIDTH}px;
    height: {IMG_ICON_BACK_TOP_HEIGHT}px;
    display: block;
    float: right;
    overflow: hidden;
    letter-spacing: 1000px;
    text-indent: 11px;
    position: relative;
    right: -14px;
    bottom: -3px;
}

a.top2 {
    background: none no-repeat 0 50%;
    text-decoration: none;
    padding-left: 15px;
}

/* Arrow links  */
a.up    { background: none no-repeat left center; }
a.down  { background: none no-repeat right center; }
a.left  { background: none no-repeat 3px 60%; }
a.right { background: none no-repeat 95% 60%; }

a.up, a.up:link, a.up:active, a.up:visited {
    padding-left: 10px;
    text-decoration: none;
    border-bottom-width: 0;
}

a.up:hover {
    background-position: left top;
    background-color: transparent;
}

a.down, a.down:link, a.down:active, a.down:visited {
    padding-right: 10px;
}

a.down:hover {
    background-position: right bottom;
    text-decoration: none;
}

a.left, a.left:active, a.left:visited {
    padding-left: 12px;
}

a.left:hover {
    color: #d2d2d2;
    text-decoration: none;
    background-position: 0 60%;
}

a.right, a.right:active, a.right:visited {
    padding-right: 12px;
}

a.right:hover {
    background-position: 100% 60%;
}

ul.topiclist {
    margin: 0;
    padding:0;
    font-family: sans-serif;
    font-size: 8pt;
}

ul.topiclist li {
    display: block;
    list-style-type: none;
    margin: 0;
}

ul.topiclist dl {
    position: relative;
}

ul.topiclist dt, ul.topiclist dd {
    display: block;
    float: left;
    padding: 5px;
}

ul.topiclist dt {
    width: 50%;
}

ul.topiclist dfn {
    /* Labels for post/view counts */
    display: none;
}

ul.topiclist li.row dt a.subforum {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 12px;
}

dl.imagelist dt {
    float: left;
    margin-right: 1em;
}

.forum-image {
    float: left;
    padding-top: 5px;
    margin-right: 5px;
}

li.header dt, li.header dd {
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 0px 5px;
}

li.header dt {
    font-weight: bold;
}

li.header dd {
    margin-left: 1px;
    border: none;
}

li.header dl.icon {
    min-height: 0;
}

/* Forum list column styles */
dl.icon {
    min-height: 35px;
    background-position: 7px 50%; /* Position of folder icon */
    background-repeat: no-repeat;
}

dl.icon dt {
    padding-left: 45px; /* Space for folder icon */
}

dd.posts, dd.topics, dd.views {
    width: 6%;
    text-align: center;
}

dd.lastpost {
    width: 24%;
}

ul.topiclist dd.searchby span, ul.topiclist dd.info span,
ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
    display: block;
    padding-left: 5px;
}

dd.time {
    width: auto;
    line-height: 200%;
    font-size: 1.1em;
}

dd.extra {
    width: 12%;
    line-height: 200%;
    text-align: center;
    font-size: 1.1em;
}

dd.mark {
    float: right !important;
    width: 9%;
    text-align: center;
    line-height: 200%;
    font-size: 1.2em;
}

dd.info {
    width: 30%;
}

dd.option {
    width: 15%;
    line-height: 200%;
    text-align: center;
    font-size: 1.1em;
}

dd.searchby {
    width: 47%;
    font-size: 1.1em;
    line-height: 1em;
}

ul.topiclist dd.searchextra {
    margin-left: 5px;
    padding: 0.2em 0;
    font-size: 1.1em;
    color: #333333;
    border-left: none;
    clear: both;
    width: 98%;
    overflow: hidden;
}

/* Container for post/reply buttons and pagination */
.topic-actions {
    margin-bottom: 3px;
    height: 1em;
    min-height: 1em;
}

.post header h1 span.postauthor {
    margin-right: 1.2em;
}

.post header .profile-icons {
    position: relative;
    top: -15px;/*-1em; /*equal to post font size*/
    right: -1.3em;
    margin: 0;
}

/* Post body styles
----------------------------------------*/

.postbody .ignore {
    font-size: 1.1em;
}

.post header h1 {
    font-size: 10pt;
    margin-top: 15px;
    margin-right: 0;
}

.post header h1 img {
    /* Also see tweaks.css */
    vertical-align: bottom;
}

/* Topic review panel
----------------------------------------*/
#review {
    margin-top: 2em;
}

#topicreview {
    overflow: auto;
    /*height: 300px;/**/
}

#topicreview .postbody {
    width: auto;
    float: none;
    margin: 0;
    height: auto;
}

#topicreview .post {
    height: auto;
}

#topicreview h2 {
    border-bottom-width: 0;
}

.hide-qr {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Content container styles
----------------------------------------*/

.content {
    overflow: hidden;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content h7, .content h8, .content h9 {
    font-size: 100%;
}

.content h2, .panel h2 {
    margin-top: 0.5em;
}

dl.faq {
    margin-top: 1em;
    margin-bottom: 2em;
}

dl.faq dt, dl.faqanswer dt {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

dl.faq dd {
    margin-left: 1em;
}

.content dl.faq {
    margin-bottom: 0.5em;
}

.content li {
    list-style-type: inherit;
}

.content ul, .content ol {
    margin-bottom: 1em;
    margin-left: 3em;
}

.posthilit {
    background-color: #F3BFCC;
    color: #BC2A4D;
    padding: 0 2px 1px 2px;
}

.signature, /* Post signature */
.notice { /* Post noticies */
    margin-top: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    clear: left;
    overflow: hidden;
    width: 100%;
    font-size:10pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height:120%;
}

.notice {
    width: 100%;
    text-align: right;
}

dd .signature {
    margin: 0;
    padding: 0;
    clear: none;
    border: none;
}

/* Jump to post link for now */
ul.searchresults {
    list-style: none;
    text-align: right;
    clear: both;
}

/* BB Code styles
----------------------------------------*/

/* Quote block */
blockquote {
    background: #3D3D3D url("{T_THEME_PATH}/images/quote.gif") 6px 8px no-repeat;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin-top: 1.6em;
    margin-bottom: 1em;
    padding: 5px;
    box-shadow: 0px 9px 17px -6px #333;
}

blockquote.uncited {
    margin-top: 0;
}

blockquote.uncited .outer {
    margin-top: .5em;
}

blockquote cite {
    /* Username/source of quoter */
    font-style: normal;
    font-weight: bold;
    display: block;
    font-size: 0.9em;
    position: relative;
    left: 3px;
    top: -30px;
}

blockquote div.outer {
    background-image: url("{T_THEME_PATH}/images/quote_rtl.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

blockquote div.inner {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -25px;
}

blockquote.uncited .outer .inner {
    margin-top: 0;
}

blockquote dl.codebox {
    margin-left: 0;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #000000; }
.syntaxdefault	{ color: #bcbcbc; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #585858; }
.syntaxstring	{ color: #a7a7a7; }

/* Attachments
----------------------------------------*/

.attachbox {
    float:left;
    position:relative;
    width: auto; 
    padding: 4px;
    background-color: #F8EAD7;
    border: 4px dotted #F0DFC1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/*.attachbox:after, .attachbox:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.attachbox:after {
    border-left-color: #F8EAD7;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}

.attachbox:before {
    border-left-color: #F0DFC1;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}*/

.pm-message .attachbox {
    background-color: #f3f3f3;
}

.attachbox dt
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 125%;
    color: #BDAC8F;
    line-height: 125%;
    text-transform: uppercase;
}

.attachbox dd
{
    clear: left;
    margin: 0;
}

.attachbox dd dd
{
    border: none;
}

.attachbox p
{
    line-height: 110%;
    color: #666;
    font-weight: normal;
    clear: left;
}

.attachbox p.stats
{
    line-height: 110%;
    color: #666;
    font-weight: normal;
    clear: left;
}

.attach-image
{
    margin: 3px 0;
    width: 100%;
    max-height: 350px;
    overflow: auto;
}

.attach-image img
{
    border: 1px solid #999999;
    width: 400px;
    cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file
{
    display: block;
    margin-bottom: 4px;
}

div.inline-attachment p
{
    font-size: 100%;
}

dl.file
{
    font-family: monospace;
    font-size: 8pt;
    line-height: 100%;
    color: #888;
    display: block;
}

dl.file dt
{
    text-transform: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

dl.file dd
{
    color: #666;
    margin: 0;
    padding: .2em 0 0 0;
}

dl.thumbnail img
{
    padding: 3px;
    border: 1px solid #666666;
}

dl.thumbnail dd
{
    color: #666666;
    font-style: italic;
}

.attachbox dl.thumbnail dd
{
    font-size: 100%;
}

dl.thumbnail dt a:hover
{
    background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img
{
    border: 1px solid #d2d2d2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls {
    font-size: 8pt;
}

fieldset.polls dl {
	margin-top: 5px;
	border-top: 2px solid #e2e2e2;
	padding: 5px 0 0 0;
	line-height: 120%;
	color: #666666;
}

fieldset.polls dl.voted {
	font-weight: bold;
	color: #000000;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 5px;
    overflow: visible;
    min-width: 2%;
}

.pollbar1 {
    background-color: #aaaaaa;
    border: 2px solid #747474;
    border-left: none;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pollbar2 {
    background-color: #bebebe;
    border: 2px solid #8c8c8c;
    border-left: none;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pollbar3 {
    background-color: #D1D1D1;
    border: 2px solid #aaaaaa;
    border-left: none;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pollbar4 {
    background-color: #e4e4e4;
    border: 2px solid #bebebe;
    border-left: none;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pollbar5 {
    background-color: #f8f8f8;
    border: 2px solid #D1D1D1;
    border-left: none;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
    width: 18%;
    float: left;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}

.postprofile dd {
    text-align: left;
}

.postprofile dd, .postprofile dt {
    line-height: 1.4em;
    margin: 0;
}

.postprofile strong {
    font-weight: normal;
}

.postprofile .profile-icons {
    float: left;
    margin: 0;
    margin-top: .6em;
}

.avatar {
    border: none;
    margin-bottom: 3px;
}

.online {
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* Poster profile used by search*/
.search .postprofile {
    width: 30%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/

.buttons {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    float: left;
    width: auto;
    height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*.buttons div span		{ display: none; }*/
/*.buttons div a:hover	{ background-image: none; }*/
.buttons div span			{ position: absolute; width: 100%; height: 100%; cursor: pointer;}
.buttons div a:hover span	{ background-position: 0 100%; }

/* Big button images */
.locked-icon span	{ background: transparent none 0 0 no-repeat; }
.pmreply-icon span	{ background: none 0 0 no-repeat; }
.newpm-icon span 	{ background: none 0 0 no-repeat; }
.forwardpm-icon span 	{ background: none 0 0 no-repeat; }

/* Set big button dimensions */
.buttons div.locked-icon	{ width: {IMG_BUTTON_TOPIC_LOCKED_WIDTH}px; height: {IMG_BUTTON_TOPIC_LOCKED_HEIGHT}px; }
.buttons div.pmreply-icon	{ width: {IMG_BUTTON_PM_REPLY_WIDTH}px; height: {IMG_BUTTON_PM_REPLY_HEIGHT}px; }
.buttons div.newpm-icon		{ width: {IMG_BUTTON_PM_NEW_WIDTH}px; height: {IMG_BUTTON_PM_NEW_HEIGHT}px; }
.buttons div.forwardpm-icon	{ width: {IMG_BUTTON_PM_FORWARD_WIDTH}px; height: {IMG_BUTTON_PM_FORWARD_HEIGHT}px; }

/* Sub-header (navigation bar)
--------------------------------------------- */

ul.linklist.topic-icons li {
    margin: 0;
}

a.print, a.sendemail, a.fontsize,
a.bookmark, a.bump, a.subscribe, a.unsubscribe {
    display: block;
    overflow: hidden;
    height: 18px;
    text-indent: -5000px;
    text-align: left;
    background-repeat: no-repeat;
    margin: 8px 5px;
}

a.print, a.sendemail,
a.bookmark, a.bump, a.subscribe, a.unsubscribe {
    background-image: none;
    width: 22px;
}

a.bookmark, a.bump, a.subscribe, a.unsubscribe {
    background-position: 2px;
}

/* Icon images
---------------------------------------- */
.sitehome, .icon-rules, .icon-pages, .icon-search {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}

/* Poster profile icons
----------------------------------------*/

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background: none top left no-repeat; }
.aim-icon, .aim-icon a			{ background: none top left no-repeat; }
.yahoo-icon, .yahoo-icon a		{ background: none top left no-repeat; }
.web-icon, .web-icon a			{ background: none top left no-repeat; }
.msnm-icon, .msnm-icon a			{ background: none top left no-repeat; }
.icq-icon, .icq-icon a			{ background: none top left no-repeat; }
.jabber-icon, .jabber-icon a		{ background: none top left no-repeat; }
.pm-icon, .pm-icon a				{ background: none top left no-repeat; }
/*.quote-icon, .quote-icon a		{ background: none top left no-repeat; }*/

/* Moderator icons */
/*.report-icon, .report-icon a		{ background: none top left no-repeat; }
.warn-icon, .warn-icon a			{ background: none top left no-repeat; }
.edit-icon, .edit-icon a			{ background: none top left no-repeat; }
.delete-icon, .delete-icon a		{ background: none top left no-repeat; }
.info-icon, .info-icon a			{ background: none top left no-repeat; }*/

/* Set profile icon dimensions */
ul.profile-icons li.email-icon		{ width: {IMG_ICON_CONTACT_EMAIL_WIDTH}px; height: {IMG_ICON_CONTACT_EMAIL_HEIGHT}px; }
ul.profile-icons li.aim-icon	{ width: {IMG_ICON_CONTACT_AIM_WIDTH}px; height: {IMG_ICON_CONTACT_AIM_HEIGHT}px; }
ul.profile-icons li.yahoo-icon	{ width: {IMG_ICON_CONTACT_YAHOO_WIDTH}px; height: {IMG_ICON_CONTACT_YAHOO_HEIGHT}px; }
ul.profile-icons li.web-icon	{ width: {IMG_ICON_CONTACT_WWW_WIDTH}px; height: {IMG_ICON_CONTACT_WWW_HEIGHT}px; }
ul.profile-icons li.msnm-icon	{ width: {IMG_ICON_CONTACT_MSNM_WIDTH}px; height: {IMG_ICON_CONTACT_MSNM_HEIGHT}px; }
ul.profile-icons li.icq-icon	{ width: {IMG_ICON_CONTACT_ICQ_WIDTH}px; height: {IMG_ICON_CONTACT_ICQ_HEIGHT}px; }
ul.profile-icons li.jabber-icon	{ width: {IMG_ICON_CONTACT_JABBER_WIDTH}px; height: {IMG_ICON_CONTACT_JABBER_HEIGHT}px; }
ul.profile-icons li.pm-icon	{ width: {IMG_ICON_CONTACT_PM_WIDTH}px; height: {IMG_ICON_CONTACT_PM_HEIGHT}px; }

/*ul.profile-icons li.quote-icon	{ width: {IMG_ICON_POST_QUOTE_WIDTH}px; height: {IMG_ICON_POST_QUOTE_HEIGHT}px; }
ul.profile-icons li.report-icon	{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
ul.profile-icons li.edit-icon	{ width: {IMG_ICON_POST_EDIT_WIDTH}px; height: {IMG_ICON_POST_EDIT_HEIGHT}px; }
ul.profile-icons li.delete-icon	{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
ul.profile-icons li.info-icon	{ width: {IMG_ICON_POST_INFO_WIDTH}px; height: {IMG_ICON_POST_INFO_HEIGHT}px; }
ul.profile-icons li.warn-icon	{ width: {IMG_ICON_USER_WARN_WIDTH}px; height: {IMG_ICON_USER_WARN_HEIGHT}px; }*/

/* Fix profile icon default margins */
/*ul.profile-icons li.edit-icon	{ margin-left: 10px; }
ul.profile-icons li.quote-icon	{ margin: 0 0 0 10px; }
ul.profile-icons li.info-icon,
ul.profile-icons li.report-icon	{ margin-right: 20px; }*/

/* Mod: NoQuote in Last Post */
.m-reply-icon, .m-reply-icon a, .m-locked-icon, .m-locked-icon a	{ background: none top left no-repeat; }
ul.profile-icons li.m-reply-icon, ul.profile-icons li.m-locked-icon	{ margin: 0 0 0 10px; }
ul.profile-icons li.m-reply-icon	{ width: {IMG_ICON_POST_REPLY_WIDTH}px; height: {IMG_ICON_POST_REPLY_HEIGHT}px; }
ul.profile-icons li.m-locked-icon	{ width: {IMG_ICON_POST_LOCKED_WIDTH}px; height: {IMG_ICON_POST_LOCKED_HEIGHT}px; }

/* Main CP box
----------------------------------------*/
#cp-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
	white-space: nowrap;
}

#cp-main {
	float: left;
	width: 81%;
}

#cp-main .content {
	padding: 0;
}

#cp-main h3 {
	border-color: #bfbfbf;
}

#cp-main .panel p {
	font-size: 1.1em;
}

#cp-main .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

#cp-main .panel li.row {
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #F9F9F9;
}

ul.cplist {
	margin-bottom: 5px;
	border-top: 1px solid #cbcbcb;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	margin-bottom: 2px;
}

#cp-main table.table1 {
	margin-bottom: 1em;
}

#cp-main table.table1 thead th {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #333333;
	padding: 5px;
}

#cp-main table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

#cp-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
}

#cp-main .postbody p {
	font-size: 1.1em;
}

#cp-main .pm-message {
	border: 1px solid #e2e2e2;
	margin: 10px 0;
	background-color: #FFFFFF;
	width: auto;
	float: none;
}

.pm-message h2 {
	padding-bottom: 5px;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
	margin-top: 0;
}

#cp-main .buttons {
	margin-left: 0;
}

#cp-main ul.linklist {
	margin: 0;
}

/* MCP Specific tweaks */
.mcp-main .postbody {
	width: 100%;
}

/* CP tabbed menu
----------------------------------------*/
#tabs {
	line-height: normal;
	margin: 20px 0 -1px 7px;
	min-width: 570px;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

#tabs a {
	float: left;
	background: none no-repeat 0% -35px;
	margin: 0 1px 0 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

#tabs a span {
	float: left;
	display: block;
	background: none no-repeat 100% -35px;
	padding: 6px 10px 6px 5px;
	white-space: nowrap;
}

#tabs .activetab a {
	background-position: 0 0;
	border-bottom: 1px solid #ebebeb;
}

#tabs .activetab a span {
	background-position: 100% 0;
	padding-bottom: 7px;
}

#tabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span {
	background-position:100% -70px;
}

#tabs .activetab a:hover {
	background-position: 0 0;
}

#tabs .activetab a:hover span {
	background-position: 100% 0;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs {
	line-height: normal;
	margin: -20px 7px 0 0;
}

#minitabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#minitabs li {
	display: block;
	float: right;
	padding: 0 10px 4px 10px;
	font-size: 1em;
	font-weight: bold;
	margin-left: 2px;
}

#minitabs a:hover {
    text-decoration: none;
}

#minitabs li.activetab {
    border-bottom: 1px solid #F9F9F9;
}

/* UCP navigation menu
----------------------------------------*/
/* Container for sub-navigation list */
#navigation {
	width: 100%;
	padding-top: 36px;
}

#navigation ul {
	list-style:none;
}

/* Default list state */
#navigation li {
	margin: 1px 0;
	padding: 0;
	font-weight: bold;
	display: inline;
}

/* Link styles for the sub-section links */
#navigation a {
    display: block;
    padding: 5px;
    margin: 1px 0;
    text-decoration: none;
    font-weight: bold;
}

#navigation a:hover {
    text-decoration: none;
}

#navigation #active-subsection a {
    display: block;
}

/* Preferences pane layout
----------------------------------------*/

#cp-main h2 {
	border-bottom: none;
	padding: 0;
	margin-left: 10px;
}

/* Friends list */
.cp-mini {
	padding: 0 5px;
	margin: 10px 15px 10px 5px;
}

dl.mini dt {
	font-weight: bold;
	color: #676767;
}

dl.mini dd {
	padding-top: 4px;
}

.friend-online {
	font-weight: bold;
}

.friend-offline {
	font-style: italic;
}

/* PM Styles
----------------------------------------*/
#pm-menu {
	line-height: 2.5em;
}

/* PM Message history */
.current {
	color: #999999;
}

/* Defined rules list for PM options */
ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

/* PM marking colours */
.pmlist li.bg1 {
	border: solid 3px transparent;
	border-width: 0 3px;
}

.pmlist li.bg2 {
	border: solid 3px transparent;
	border-width: 0 3px;
}

.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #bcbcbc;
	border-right-color: #bcbcbc;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border: solid 3px #ffffff;
	border-width: 0 3px;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border: solid 3px #c2c2c2;
	border-width: 0 3px;	
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border: solid 3px #bdbdbd;
	border-width: 0 3px;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border: solid 3px #000000;
	border-width: 0 3px;
}

.pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */
#gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	background: #FFFFFF;
	border: 1px solid #CCC;
	text-align: center;
}

#gallery label:hover {
	background-color: #EEE;
}

/* General form styles
----------------------------------------*/
fieldset {
    border-width: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

input {
    cursor: pointer;
    vertical-align: middle;
    padding: 0 3px;
}

select {
    cursor: pointer;
    vertical-align: middle;
}

option {
	padding-right: 1em;
}

option.disabled-option {
	color: graytext;
}

#answer {
    margin-bottom: 1em;
    margin-top:.6em;
}

textarea {
	width: 60%;
	padding: 2px;
	font-size: 1em;
	line-height: 1.4em;
}

label {
    cursor: default;
    vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
    padding: 4px 0;
}

fieldset dt {
    float: left;	
    text-align: left;
    display: block;
}

fieldset dd {
    vertical-align: top;
    margin-bottom: 3px;
}

/* Specific layout 1 */
fieldset.fields1 dt {
    border-right-width: 0;
}

fieldset.fields1 dd {
    border-left-width: 0;
}

fieldset.fields1 {
    background-color: transparent;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 #recaptcha_widget_div div {
	margin-bottom: 0;
}

/* Specific layout 2 */
fieldset.fields2 dt {
	width: 15em;
	border-right-width: 0;
}

fieldset.fields2 dd {
	margin-left: 16em;
	border-left-width: 0;
}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd textarea {
	width: 85%;
}

#timezone {
	width: 95%;
}

* html #timezone {
	width: 50%;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
	background-color: #f3f3f3;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}


/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding-right: 1em;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

fieldset.jumpbox,
fieldset.quickmod {
    float: right;
    text-align: right;
    padding: 0;
    margin: 0;
}

/* Submit button fieldset */
fieldset.submit-buttons {
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
}

fieldset.submit-buttons input {
    vertical-align: middle;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */

#format-buttons input, #format-buttons select {
    vertical-align: middle;
}

/* Main message box */
#message-box {
    padding-right: 5px;
}

#message-box textarea {
    width: 100%;
    color: #333333;
}

/* Emoticons panel */

#smiley-box img {
    margin: 2px;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border: 1px solid #c0c0c0;
	color: #333333;
	padding: 2px;
	cursor: text;
}

.inputbox:focus {
	border: 1px solid #eaeaea;
	color: #4b4b4b;
}

input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny	{ width: 125px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

/* Topic and forum Search */
.search-box {
    margin-top: 3px;
    float: left;
}

input.search
{
    background-image: none;
    background-repeat: no-repeat;
    background-position: left 3px;
    padding: 2px 6px 2px 17px;
}

input
{
    padding: 2px 4px;
}

.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}

These style definitions are mainly IE specific 
tweaks required due to its poor CSS support.
-------------------------------------------------*/

* html table, * html select, * html input { font-size: 100%; }

table.table1 {
	width: 99%;		/* IE < 6 browsers */
	/* Tantek hack */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 100%;
}
html>body table.table1 { width: 100%; }	/* Reset 100% for opera */

* html ul.topiclist li { position: relative; }
* html .postbody h3 img { vertical-align: middle; }

/* Form styles */
html>body dd label input { vertical-align: text-bottom; }	/* Align checkboxes/radio buttons nicely */

/* Misc layout styles */
* html .column1, * html .column2 { width: 45%; }

/* Nice method for clearing floated blocks without having to insert any extra markup (like spacer above)
   From http://www.positioniseverything.net/easyclearing.html 
#tabs:after, #minitabs:after, .post:after, .navbar:after, fieldset dl:after, ul.topiclist dl:after, ul.linklist:after, dl.polls:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}*/

.clearfix, #tabs, #minitabs, fieldset dl, ul.topiclist dl, dl.polls {
	height: 1%;
	overflow: hidden;
}

/* viewtopic fix */
* html .post {
	height: 25%;
	overflow: hidden;
}

/* navbar fix */
* html .clearfix, * html .navbar, ul.linklist {
	/*height: 4%;*/
	overflow: hidden;
}

/* Simple fix so forum and topic lists always have a min-height set, even in IE6
	From http://www.dustindiaz.com/min-height-fast-hack */
dl.icon {
	min-height: 35px;
	height: auto !important;
	height: 35px;
}

* html #search-box {
	width: 25%;
}

/* Correctly clear floating for details on profile view */
*:first-child+html dl.details dd {
	margin-left: 30%;
	float: none;
}

* html dl.details dd {
	margin-left: 30%;
	float: none;
}

.postlink {
    color: #283;
}

/* Post signature */
.signature {
    color: #999;
}

.signature a.postlink {
    color: #817545;
}

.signature a.postlink:hover {
    color: #FFCB0F;
}

.ucprowbg {
	background-color: #DFDFDF;
}

.fieldsbg {
	background-color: #E8E8E9;
}

/* Table styles
----------------------------------------*/

table.table1 tbody th {
	color: #333333;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */

dl.details dd {
	color: #68696D;
}

.sep {
	color: #697681;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #7B828A;
	border-color: #7B828A;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	color: #717377;
	background-color: #EDEDED;
	border-color: #B9BABB;
}

.pagination span a:hover {
	border-color: #7B828D;
	background-color: #7B828D;
	color: #FFF;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.gif");
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #7B828D;
}

/* Miscellaneous styles
---------------------------------------- */

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

/*ul.forums {
    background-color: #F3F4F4;
}*/

ul.topiclist li.row dt a.subforum.read {
    background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
    background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
    color: #333333;
}

/* Content container styles
----------------------------------------*/

/* Post noticies */
.notice {
    color: #707070;
}

/* BB Code styles
----------------------------------------*/

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #211BA0; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }


/* Inline image thumbnails */

dl.file dd {
    color: #888;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #7B828D;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DFDFDF;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.pollbar1 {
    background-color: #AA2346;
    border-color: #74162C;
}

.pollbar2 {
    background-color: #BE1E4A;
    border-color: #8C1C38;
}

.pollbar3 {
    background-color: #D11A4E;
    border-color: #AA2346;
}

.pollbar4 {
    background-color: #E41653;
    border-color: #BE1E4A;
}

.pollbar5 {
    background-color: #F81157;
    border-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/


/*.online {
    background-image: url("{T_IMAGESET_LANG_PATH}/icon_user_online.gif");
}*/

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.fontsize { background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif"); }

a.print { background-image: url("{T_THEME_PATH}/images/icon_print.gif"); }
a.sendemail { background-image: url("{T_THEME_PATH}/images/icon_sendemail.gif"); }
a.bookmark { background-image: url("{T_THEME_PATH}/images/icon_bookmark.gif"); }
a.bump { background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
a.subscribe { background-image: url("{T_THEME_PATH}/images/icon_subscribe.gif"); }
a.unsubscribe { background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.gif"); }

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-rules						{ background-image: url("{T_THEME_PATH}/images/icon_rules.gif"); }

.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }

/* Mod: NoQuote in Last Post */
.m-reply-icon, .m-reply-icon a		{ background-image: url("{IMG_ICON_POST_REPLY_SRC}"); }
.m-locked-icon, .m-locked-icon a	{ background-image: url("{IMG_ICON_POST_LOCKED_SRC}"); }
	
/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3  {
    border-color: #B0B1B3;
}

#cp-main .panel li.row {
    border-bottom-color: #BFC0C1;
    border-top-color: #F9F9F9;
}

ul.cplist {
    border-top-color: #BFC0C1;
}

#cp-main table.table1 thead th {
    border-bottom-color: #333333;
}

#cp-main .pm-message {
    border-color: #DEDEDF;
    background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/

#tabs .activetab a {
    border-bottom-color: #D9DADC;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */

#navigation #active-subsection a {
    border-bottom: 1px solid #F9F9F9;
}

#navigation #active-subsection a,
#navigation #active-subsection a:hover {
    color: #FFCB0F;
}

/* Preferences pane layout
----------------------------------------*/

dl.mini dt {
	color: #525357;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #B4B5B7;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #878C93;
}

pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
}

/* Quick-login on index page */
fieldset.quick-login input {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */

.inputbox {
	background-color: white;
	color: #333333;
}

.inputbox:focus {
	border-color: #707F8B;
	color: #444952;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.gif");
}

input.disabled {
	color: #666666;
}
