[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Doom
GenericName=
Comment=A classic action game using a modern sourceport.
Exec=/usr/games/doomsday -anifilter -texcomp -game jdoom -iwad /usr/share/games/doom/iwad/doomu/doomu.wad
Icon=/usr/share/pixmaps/deng.png
Terminal=0
Type=Application
Categories=Application;Game;ActionGame;