[Desktop Entry]
Encoding=UTF-8
Name=Doomsday Engine
Comment=Doom/Heretic/Hexen with enhanced graphics
Categories=Game;ActionGame;
Exec=/usr/bin/launch-doomsday
Terminal=false
Type=Application
Icon=/usr/share/doomsday/snowberry/graphics/snowberry.png

