[Desktop Entry]
Encoding=UTF-8
Name=Doomsday Engine
Comment=Doom/Heretic/Hexen with enhanced graphics
Categories=Game;ActionGame;
Exec=BIN_DIR/launch-doomsday
Terminal=false
Type=Application
Icon=SB_DIR/graphics/snowberry.png

