Source: deng-jdoom-pwad-2002ado
Section: multiverse/games
Priority: optional
Maintainer: Jamie Jones <jamie_jones_au@yahoo.com.au>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: deng-jdoom-pwad-2002ado
Architecture: all
Depends: deng, deng-iwad-doomu-installer
Description: 2002 A Doom Odyssey 36 Level Megawad for Ulitmate Doom [SP, COOP]
 A 4 episode megawad for the Ultimate Doom containing 4 all new challenging
 episodes for you to test you're skill on, great architecture and lots of
 hard work, put into every level.
 .
 As not every level has deathmatch starts, this is unsuitable for Deathmatch
