[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Megawad: 2002 A Doom Odyssey
GenericName=
Comment=2002 A Doom Odyssey 36 Level Megawad for Ulitmate Doom [SP, COOP]
Exec=/usr/games/doomsday -anifilter -texcomp -game jdoom -iwad /usr/share/games/doom/iwad/doomu/doomu.wad -file /usr/share/games/deng/Data/jDoom/pwad-2002ado/2002ado.wad
Icon=/usr/share/pixmaps/deng.png
Terminal=0
Type=Application
Categories=Application;Game;ActionGame;
