<!-- BEGIN forumrow -->
  <!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
</ol>
  <!-- ENDIF -->

  <!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT  -->
<ul class="block nobackground topiclist reslist">
    <li class="forumrow header">
        <h1><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->Subforums<!-- ENDIF --></h1>
        <dl>
            <dd class="exlcnt lastpost"><span>{L_LAST_POST}</span></dd>
            <dd class="exlcnt posts"   >{L_POSTS}</dd>
            <dd class="exlcnt topics"  >{L_TOPICS}</dd>
        </dl>
    </li>
</ul>
<ol class="block topiclist reslist">
  <!-- ENDIF -->

  <!-- IF not forumrow.S_IS_CAT -->
        <li id="forum_{forumrow.FORUM_NAME}" class="forumrow">
            <article>
                <header class="expcol" title="{forumrow.FORUM_FOLDER_IMG_ALT}">
    <!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a> --><!-- ENDIF -->
    <!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
                    <h2><a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a></h2><p>{forumrow.FORUM_DESC}</p>
    <!-- IF forumrow.MODERATORS --><br />{forumrow.L_MODERATOR_STR}: {forumrow.MODERATORS}<!-- ENDIF -->
    <!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><em>{forumrow.L_SUBFORUM_STR}</em> {forumrow.SUBFORUMS}<!-- ENDIF -->
                </header>
    <!-- IF 0 -->
                <dl class="forumrow icon" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat; background-position-x: 2px;">
    <!-- ENDIF -->
                <dl class="expcol icon">
    <!-- IF forumrow.CLICKS -->
                    <dt>{L_REDIRECTS}</dt>
                    <dd class="exlcol redirect">{forumrow.CLICKS}</dd>
    <!-- ELSEIF not forumrow.S_IS_LINK -->
                    <dt></dt>
                    <dd class="exlcol lastpost">
                        <span>
      <!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><!-- ENDIF -->
      <!-- IF forumrow.LAST_POST_TIME --><!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <span class="inlcnt">{L_LAST_POST}</span> <!-- ENDIF --><time datetime="{forumrow.LAST_POST_TIMEISO861}">{forumrow.LAST_POST_TIME}</time> {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}<!-- ELSE -->{L_NO_POSTS}<!-- ENDIF -->
                        </span>
                    </dd>
                    <dt style="clear:both">posts.</dt>
                    <dd class="exlcol posts"   >{forumrow.POSTS}</dd>
                    <dt>topics,</dt>
                    <dd class="exlcol topics"  >{forumrow.TOPICS}</dd>
    <!-- ENDIF -->
                </dl>
            </article>
        </li>
  <!-- ENDIF -->

  <!-- IF forumrow.S_LAST_ROW -->
</ol>
  <!-- ENDIF -->

<!-- BEGINELSE -->
<div class="panel">
    <strong>{L_NO_FORUMS}</strong>
</div>
<!-- END forumrow -->
