<!-- DEFINE $SHOW_CURRENT_TIME = 1 -->
<!-- INCLUDE overall_header.html -->
<div class="block">
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist rightside">
    <!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<ul class="linklist leftside">
    <!-- IF S_DISPLAY_SEARCH -->
        <!-- IF S_USER_LOGGED_IN and not S_IS_BOT --><li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li><!-- ENDIF -->
        <!-- IF S_USER_LOGGED_IN --><li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li><!-- ENDIF -->
        <!-- IF S_LOAD_UNREADS --><li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li><!-- ENDIF -->
        <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
        <li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
    <!-- ENDIF -->
</ul>
<!-- ENDIF -->
</div>

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
    <form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
    <div class="block">
        <section>
            <h1><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED --> or <a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h1>
        <fieldset class="quick-login">
            <label for="username">{L_USERNAME}</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
            <label for="password">{L_PASSWORD}</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
            <!-- IF S_AUTOLOGIN_ENABLED -->
                <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
            <!-- ENDIF -->
            <input type="submit" name="login" value="{L_LOGIN}" />
            {S_LOGIN_REDIRECT}
        </fieldset>
    </form>
    </section></div>
<!-- ENDIF -->

<div class="block">
<!-- IF S_DISPLAY_ONLINE_LIST -->
    <section class="whoisonline">
    <!-- IF U_VIEWONLINE --><h1><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>({L_ONLINE_EXPLAIN})</h1><!-- ELSE --><h1>{L_WHO_IS_ONLINE}</h1><!-- ENDIF -->
    <p>{LOGGED_IN_USER_LIST}</p>
    <!-- IF LEGEND --><p>{L_LEGEND}: {LEGEND}</p><!-- ENDIF -->
    <p>Totals: {TOTAL_USERS_ONLINE})</p>
    </section>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
    <h2>{L_BIRTHDAYS}</h2>
    <p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
    <section class="statistics">
    <h2>{L_STATISTICS}</h2>
    <p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS}</p><p>{RECORD_USERS}</p><p>{NEWEST_USER}</p>
    </section>
<!-- ENDIF -->
</div>

<!-- INCLUDE overall_footer.html -->