<div class="block <!-- IF S_PRIVMSGS -->pm<!-- ENDIF -->" id="preview">

<!-- IF S_HAS_POLL_OPTIONS -->
    <section>
        <h2>{L_PREVIEW}: {POLL_QUESTION}</h2>
        <p class="author"><!-- IF L_POLL_LENGTH -->{L_POLL_LENGTH}<br /><!-- ENDIF -->{L_MAX_VOTES}</p>

        <fieldset class="polls">
        <!-- BEGIN poll_option -->
            <dl>
                <dt><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label></dt>
                <dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd>
            </dl>
        <!-- END poll_option -->
        </fieldset>
    </section>
</div>

<div class="block">

<!-- ENDIF -->

    <article class="post">
        <header>
            <h1><span class="postauthor"><a href="{U_PROFILE}">{S_USERNAME}</a></span> {PREVIEW_SUBJECT}</h1>
        </header>
        <div class="content">{PREVIEW_MESSAGE}</div>

        <!-- IF .attachment -->
        <dl class="attachbox">
            <dt>{L_ATTACHMENTS}</dt>
            <!-- BEGIN attachment -->
            <dd>{attachment.DISPLAY_ATTACHMENT}</dd>
            <!-- END attachment -->
        </dl>
        <!-- ENDIF -->

        <!-- IF PREVIEW_SIGNATURE --><div class="signature">{PREVIEW_SIGNATURE}</div><!-- ENDIF -->
    </article>

</div>
