<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
<div class="block">
<article id="p{postrow.POST_ID}" class="post <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF postrow.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF postrow.S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> online<!-- ENDIF -->">

    <header>
    <!-- IF not S_IS_BOT -->
        <!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
            <ul class="profile-icons">
                <!-- IF postrow.U_WARN --><li class="warn-icon"><a href="{postrow.U_WARN}" title="{L_WARN_USER}">!</a></li><!-- ENDIF -->
                <!-- IF postrow.U_REPORT --><li class="report-icon"><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}">!</a></li><!-- ENDIF -->
                <!-- IF postrow.U_DELETE --><li class="delete-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}">x</a></li><!-- ENDIF -->
                <!-- IF postrow.U_INFO --><li class="info-icon"><a href="{postrow.U_INFO}" title="{L_INFORMATION}">?</a></li><!-- ENDIF -->
                <!-- IF postrow.U_EDIT --><li class="edit-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}">edit</a></li><!-- ENDIF -->
                <!-- IF postrow.U_QUOTE --><li class="quote-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}">quote</a></li><!-- ENDIF -->
            </ul>
        <!-- ENDIF -->
    <!-- ENDIF -->
        <h1 <!-- IF postrow.S_FIRST_ROW -->class="first"<!-- ENDIF -->><!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><span class="postauthor"><!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong><!-- ELSE -->{postrow.POST_AUTHOR_FULL}<!-- ENDIF --></span> <a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h1>
        <p>{postrow.POST_DATE}</p>

        <!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
            <p class="rules">
                <!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
                <!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
            </p>
        <!-- ENDIF -->
    </header>
    <div class="postbody">
        <!-- IF postrow.S_IGNORE_POST -->
            <div class="ignore">{postrow.L_IGNORE_POST}</div>
        <!-- ELSE -->
        <div class="content">{postrow.MESSAGE}</div>

        <!-- IF postrow.S_HAS_ATTACHMENTS -->
            <dl class="attachbox">
                <!-- BEGIN attachment -->
                    <dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
                <!-- END attachment -->
            </dl>
        <!-- ENDIF -->

        <!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
        <!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
            <div class="notice">{postrow.EDITED_MESSAGE}
                <!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
            </div>
        <!-- ENDIF -->

        <!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
        <!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
    <!-- ENDIF -->

    </div>

    <!-- IF not postrow.S_IGNORE_POST -->
        <dl class="postprofile" id="profile{postrow.POST_ID}">
        <dt>
            <!-- IF postrow.POSTER_AVATAR -->
                <!-- IF postrow.U_POST_AUTHOR --><div class="postauthoravatar"><a href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a><!-- ELSE -->{postrow.POSTER_AVATAR}</div><!-- ENDIF -->
            <!-- ENDIF -->
            <!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><p>{postrow.RANK_TITLE}</p><!-- IF postrow.RANK_TITLE and postrow.RANK_IMG -->{postrow.RANK_IMG}<!-- ENDIF --><!-- ENDIF -->
        </dt>

    <!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
    <!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->
    <!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {postrow.POSTER_POSTS}</dd><!-- ENDIF -->

    <!-- IF postrow.S_PROFILE_FIELD1 -->
        <!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
        <dd><strong>{postrow.PROFILE_FIELD1_NAME}:</strong> {postrow.PROFILE_FIELD1_VALUE}</dd>
    <!-- ENDIF -->

    <!-- BEGIN custom_fields -->
        <dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
    <!-- END custom_fields -->

    <!-- IF not S_IS_BOT -->
    <!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
        <dd>
            <ul class="profile-icons">
                <!-- IF postrow.U_PM --><li class="pm-icon"><a href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_EMAIL --><li class="email-icon"><a href="{postrow.U_EMAIL}" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><span>{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_WWW --><li class="web-icon"><a href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_MSN --><li class="msnm-icon"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_ICQ --><li class="icq-icon"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_YIM --><li class="yahoo-icon"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_AIM --><li class="aim-icon"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
                <!-- IF postrow.U_JABBER --><li class="jabber-icon"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
            </ul>
        </dd>
    <!-- ENDIF -->
    <!-- ENDIF -->

    </dl>
<!-- ENDIF -->
    <div class="clear"></div>
    <a href="#topic" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a>

</article></div>