Source: deng
Section: multiverse/games
Priority: optional
Maintainer: Jamie Jones <jamie_jones_au@yahoo.com.au>
Build-Depends: debhelper (>= 4.0.0), dpatch, sharutils, xsltproc, docbook-xsl, docbook-xml, cmake, libltdl3-dev, libsdl-net1.2-dev, libsdl-mixer1.2-dev, libsdl1.2-dev, libpng-dev, libopenal-dev, zlib1g-dev, libncurses5-dev, libx11-dev, libxext-dev, libgl1-mesa-dev, libglu1-mesa-dev, zip, python
Standards-Version: 3.6.2

Package: deng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, timidity, freepats
Provides: doom-engine, heretic-engine, hexen-engine
Recommends: reportbug
Suggests: deng-iwad-doomu-installer, deng-iwad-doom2-installer, deng-iwad-plutonia-installer, deng-iwad-tnt-installer,
 deng-iwad-heretic-installer, deng-iwad-hexen-installer, deng-iwad-hexendd-installer, deng-jdoom-rp-core,
 deng-jdoom-rp-decorations, deng-jdoom-rp-effects, deng-jdoom-rp-hud, deng-jdoom-rp-items, deng-jdoom-rp-monsters,
 deng-jdoom-rp-projectiles, deng-jdoom-ui, deng-jdoom-tp, deng-jdoom-ep, deng-jdoom-awp,deng-jdoom-bamteleports,
 deng-jheretic-tp, deng-jheretic-ui, deng-jheretic-ujhrp, deng-jhexen-xccp, deng-jhexen-ui, deng-jdoom-detailtextures,
 deng-jdoom-sycraftsdoommusic, deng-jdoom-lavalights, deng-jdoom-kurikaisdoomlights, deng-jdoom-bulletdecals,
 deng-jdoom-kurikaisdoomrain, deng-jheretic-picklebrosteleports, deng-jheretic-sycraftshereticmusic,
 deng-jheretic-walllights, deng-jhexen-sycraftshexenmusic
Replaces: deng-debian
Conflicts: deng-debian, ia32-libs-universe (<< 1.1eyagi20060409)
Description: Doomsday Engine - For Doom/Heretic/Hexen
 The Doomsday Engine is an enhanced and extended version of the DOOM,
 Heretic and Hexen engine. With the aid of add on resource packs,
 The Doomsday Engine supports Quake 2 style 3D models, high
 resolution textures, skyboxes and more.
 .
 You REQUIRE an iwad to use this engine. For legal reasons they
 are not distributed with the engine. You can purchase them from
 Id Software it you do not already own an iwad. Currently the
 freedoom iwad does not work with The Doomsday Engine as it uses
 Boom-sourceport features unimplemented in The Doomsday Engine.
 .
 Homepage: http://www.doomsdayhq.com/
 Maintainers Page:
 http://eyagi.bpa.nu/eyagi/community-projects/yagisan-s-doomsday-for-debian-ubuntu 

