Source: deng-jheretic-addons
Section: multiverse/games
Priority: optional
Maintainer: Jamie Jones <jamie_jones_au@yahoo.com.au>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: deng-jheretic-tp
Architecture: all
Depends: deng
Description: jHeretic Texture Pack
 The jHeretic High Resolution Texture Pack from cainx.free.fr is
 the best collection of high resolution textures for jHeretic.
 Heretic looks visibly better with this pack. Highly Recommended
 .
 Downloaded from:
 http://cainx.free.fr/

Package: deng-jheretic-ui
Architecture: all
Depends: deng
Description: jHeretic UI Pack
 The jHeretic User Interface Pack is an updated UI for Heretic.
 Includes Hi-Res intermission maps, fonts, status bar etc.
 Highly Recommended
 .
 Downloaded from:
 http://slide.newdoom.com/

Package: deng-jheretic-ujhrp
Architecture: all
Depends: deng
Description: Unoffical jHeretic Resource Pack
 The jHeretic Resource Pack. This is the pack that gives you 3D Monsters and
 Items. Highly Recommended.
 .
 Downloaded from:
 http://cainx.free.fr/Heretic.htm

Package: deng-jheretic-picklebrosteleports
Architecture: all
Depends: deng
Description: Picklebros Teleport Effects
 for jHeretic adds sparkling particle  effects to the
 teleporters. Highly recommended for faster computers.
 .
 Downloaded from:
 http://forums.jfiles.org/viewtopic.php?t=94

Package: deng-jheretic-sycraftshereticmusic
Architecture: all
Depends: deng
Description: Sycrafts High Quality Heretic Soundtracks
 for jHeretic is a fully remastered heretic soundtrack
 in high quality ogg format. 
 This is what you might have heard Heretic like if
 you had had 50 grand's worth of audio equipment
 when heretic was released.
 Highly recommended.
 .
 Downloaded from:
 http://sycraft.org/content/audio/heretic.shtml

Package: deng-jheretic-walllights
Architecture: all
Depends: deng
Description: Heretic Wall Light Effects
 for jHeretic adds additional lighting effects
 to the wall torches.
 .
 Downloaded from:
 http://forums.jfiles.org/viewtopic.php?t=106
