#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# Nothing to build here
build: 

clean:
	dh_testdir
	dh_testroot
	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	mkdir -p debian/deng-jheretic-tp/usr/share/games/deng/Data/jHeretic/Auto
	install -m 644 jhtp.zip debian/deng-jheretic-tp/usr/share/games/deng/Data/jHeretic/Auto
	mkdir -p debian/deng-jheretic-tp/usr/share/bug/deng-jheretic-tp
	cp debian/reportbug.control debian/deng-jheretic-tp/usr/share/bug/deng-jheretic-tp/control
	cp debian/reportbug.presubj debian/deng-jheretic-tp/usr/share/bug/deng-jheretic-tp/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-tp/usr/share/bug/deng-jheretic-tp/script

	mkdir -p debian/deng-jheretic-ui/usr/share/games/deng/Data/jHeretic/Auto
	install -m 644 jhui.zip debian/deng-jheretic-ui/usr/share/games/deng/Data/jHeretic/Auto
	mkdir -p debian/deng-jheretic-ui/usr/share/bug/deng-jheretic-ui
	cp debian/reportbug.control debian/deng-jheretic-ui/usr/share/bug/deng-jheretic-ui/control
	cp debian/reportbug.presubj debian/deng-jheretic-ui/usr/share/bug/deng-jheretic-ui/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-ui/usr/share/bug/deng-jheretic-ui/script

	mkdir -p debian/deng-jheretic-ujhrp/usr/share/games/deng/Data/jHeretic/Auto
	install -m 644 ujhrpfull.zip debian/deng-jheretic-ujhrp/usr/share/games/deng/Data/jHeretic/Auto
	mkdir -p debian/deng-jheretic-ujhrp/usr/share/bug/deng-jheretic-ujhrp
	cp debian/reportbug.control debian/deng-jheretic-ujhrp/usr/share/bug/deng-jheretic-ujhrp/control
	cp debian/reportbug.presubj debian/deng-jheretic-ujhrp/usr/share/bug/deng-jheretic-ujhrp/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-ujhrp/usr/share/bug/deng-jheretic-ujhrp/script

	mkdir -p debian/deng-jheretic-sycraftshereticmusic/usr/share/games/deng/Data/jHeretic/Auto
	install -m 644 sycrafts-heretic-music-hq.zip debian/deng-jheretic-sycraftshereticmusic/usr/share/games/deng/Data/jHeretic/Auto
	mkdir -p debian/deng-jheretic-sycraftshereticmusic/usr/share/bug/deng-jheretic-sycraftshereticmusic
	cp debian/reportbug.control debian/deng-jheretic-sycraftshereticmusic/usr/share/bug/deng-jheretic-sycraftshereticmusic/control
	cp debian/reportbug.presubj debian/deng-jheretic-sycraftshereticmusic/usr/share/bug/deng-jheretic-sycraftshereticmusic/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-sycraftshereticmusic/usr/share/bug/deng-jheretic-sycraftshereticmusic/script

	mkdir -p debian/deng-jheretic-picklebrosteleports/usr/share/games/deng/Defs/jHeretic
	install -m 644 picklebro-teleporters.ded debian/deng-jheretic-picklebrosteleports/usr/share/games/deng/Defs/jHeretic
	mkdir -p debian/deng-jheretic-picklebrosteleports/usr/share/bug/deng-jheretic-picklebrosteleports
	cp debian/reportbug.control debian/deng-jheretic-picklebrosteleports/usr/share/bug/deng-jheretic-picklebrosteleports/control
	cp debian/reportbug.presubj debian/deng-jheretic-picklebrosteleports/usr/share/bug/deng-jheretic-picklebrosteleports/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-picklebrosteleports/usr/share/bug/deng-jheretic-picklebrosteleports/script

	mkdir -p debian/deng-jheretic-walllights/usr/share/games/deng/Defs/jHeretic
	install -m 644 light-decorations.ded debian/deng-jheretic-walllights/usr/share/games/deng/Defs/jHeretic
	mkdir -p debian/deng-jheretic-walllights/usr/share/bug/deng-jheretic-walllights
	cp debian/reportbug.control debian/deng-jheretic-walllights/usr/share/bug/deng-jheretic-walllights/control
	cp debian/reportbug.presubj debian/deng-jheretic-walllights/usr/share/bug/deng-jheretic-walllights/presubj
	install -m 755 debian/reportbug.script debian/deng-jheretic-walllights/usr/share/bug/deng-jheretic-walllights/script

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch:


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
