/*
Doomsday Engine Development
Stylesheet by Jaakko Keränen

<skyjake (at) users.sourceforge.net>
*/

body
{
  background-color: #bbb;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
}

.smaller
{
  font-size: 80%;
}

a
{
  text-decoration: none;
}

a:hover
{
  color: white;
  text-decoration: underline;
}

.toptable
{
  width: 100%;
}

td.titlebar
{
  background-color: #797;
  background-image: url(images/titlebar.gif);
  background-repeat: repeat-x;
  border-bottom: 1px solid #676;
  color: white;
  font-family: serif;
  text-align: center;
  font-size: 200%;
  padding: 0.5ex;
}

td.titlebar .separator
{
  color: #fc0;
}

.linkbar
{
  background-color: #9a9;
  background-image: url(images/linkbar.gif);
  background-repeat: repeat-x;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5ex;
}

td.linkbar a:link
{
  color: #353;
}

td.linkbar a:visited
{
  color: #121;
}

td.linkbar a:hover
{
  color: white;
}

td.shadow
{
  background-image: url(images/grayshadow.gif);
  background-repeat: repeat-x;
  height: 5px;
}

td.contentbar
{
  border-bottom: 1px solid #888;
}

td.contentbar table
{
  width: 100%;
}

td.menu
{
  border-right: 2px dotted #888;
  vertical-align: top;
  text-align: right;
  width: 25%;
  padding: 1.5ex;
  padding-top: 1ex;
}

td.menu a
{
  display: block;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-right: 0.5ex;
  color: #555;
}

td.menu a:hover
{
  color: black;
  background-color: #fc0;
  text-decoration: none;
}
 
td.content
{
  vertical-align: top;
  width: 65%;
  padding: 1em;
  padding-top: 0.75em;
}

td.content a
{
  font-style: italic;
  color: #353;
}

td.content a:visited
{
  color: #242;
}

td.content a:hover
{
  color: white;
}

table.tab
{
  width: 100%;
}

table.tab td
{
  vertical-align: top;
  text-align: left;
  background-color: #ddd;
  padding: 0.5ex;
}

table.tab th
{
  background-color: #ddd;
  pading: 0.5ex;
  font-weight: bold;
}

table.dir
{
  background-color: #ddd;
  border: 1px solid #999;
  padding: 0.5ex;
}

table.dir tr td
{
  text-align: center;
}

table.dir tr td .separator
{
  font-weight: bold;
}

table.dir tr td a, table.dir tr td a:visited
{
  color: #555;
}

table.dir tr td a:hover
{
  color: black;
}

.topic
{
  font-weight: bold;
}

td.content h1
{
  color: #666;
}

td.balance
{
  width: 10%;
}
