
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);


/* normalize */
p, h1, h2, h3, h4, h5, h6, h7, h8, h9 { margin-top: 0; }
dl, ol, ul { padding: 0; margin: 0; }

/* fixes */
.clearfix { height: 1%; overflow: hidden; }

/* responsive content inclusion */
.inlcnt     { display: none; }
span.inlcnt { padding: 0.4ex; }
@media handheld, only screen and (max-width: 480px) { .inlcnt { display:initial; } }

/* responsive content exclusion */
@media handheld, only screen and (max-width: 480px) { .exlcnt { display:none; } }

/**
 * Responsive list with dynamic column expansion
 */
.reslist > li { vertical-align: top; /* clear fix */ height: 1%; overflow: hidden; }
.reslist dt,
.reslist dd   { float: right; margin: 0; }
.reslist dt   { margin-left: .2em; margin-right: .2em; display:none; }
/* responsive column expansion */
@media handheld, only screen and (max-width: 480px) {
  .reslist .expcol { width:100%; }
  .reslist dt { display:initial; }
}
/* responsive column exclusion */
@media handheld, only screen and (max-width: 480px) {
  .reslist dl > dt.exlcol,
  .reslist dl > dd.exlcol { width:auto; margin-left: 0; }
}

.topiclist > li > h1,
.topiclist > li > dl,
.topiclist > li > article header,
.topiclist > li > article dl {
width: 50%;
display: inline-block;
float: left;
}

body {
    background: #282D2B url(panoramarotator) no-repeat fixed;
    background-position: center 100%;
    background-size: 200% 200%;

    color: #A7A29C;

    font-family: "Open Sans",sans-serif !important;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

@media only screen and (min-width: 476px) {
body { margin: 1.2em; }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #F0F0F0;
}

label { cursor:help; }

/* ------- begin old forum normalization ------- */

.content br + ul, .content br + ol {
    margin-top: 0;
}

.content ul + br, .content ol + br, .content blockquote + br, .content .codebox + br {
    display: none;
}

code br, /*.topiclist br,*/ .post br, .content br {
    display:inline;
    margin:0;
}

.whoisonline p, .statistics p, #options-panel dd {
    margin: 0;
}

#postingbox fieldset, fieldset.fields1, fieldset.quick-login {
    margin: 0;
    padding: 0;
}

/* ------- end old forum normalization ------ */

p { margin-bottom: 0; }

a {
    text-decoration: none;
    color: white;
    outline: 0 none;
}

a:focus {
    outline: dotted 2px;
    outline-offset: 2px;
}

a:hover {
    text-decoration: underline;
    color: #FFCB0F;
}

a[class ="jump"] {
    font-size:smaller;
    font-family: monospace;
}

a[class ="jump"]:before {
    content:"(";
}

a[class ="jump"]:after {
    content:")";
}

a[class ="link-definition"] {
    padding-right:.4em;
    overflow:visible;
}

a[class ="link-definition"]:after {
    position:absolute;
    text-decoration: none;
    color: #BEBEFF;
    font-size: .6em;
    font-family: georgia, serif;
    font-weight: normal;
    content:"?";
}

a[class ="link-external"] {
    padding-right: 18px;
    background: transparent url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/Icon_External_Link.png) no-repeat center right;
}

a[class ="link-rss"] {
    padding-right: 18px;
    background: transparent url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/rssicon.png) no-repeat center right;
    background-size: 13px 12px;
}

span.hidden {
    display: none;
}

.issue_level {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

hr {
    background-color: #6D6D6D;
    height: 1px;
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

hr.dashed {
    background: none;
    border-top: 1px dashed #6D6D6D;
}

.twocolumn {
    width: 50%;
    float: left;
}

.twocolumn ol {
    padding:0;
    margin:0;
}

@media only screen and (max-width: 767px) {
.collapsible {width: 100%; float: left; }
.collapsible:nth-child(n+1) { clear: left; }
}

.block {
    padding: 22px;
    margin: 0 .6em 1.2em .6em;
    height: 1%; overflow: hidden;
}

.block article {
    margin-top: 0;
}

.block section {
    margin-top: 1.2em;
}

.block article:first-of-type,
.block section:first-of-type {
    margin-top: 0;
}

/* metadata */
.block article header p {
    font-style: italic;
}

/* related links bar */
.block div.links {
    margin: 0;
    position: relative;
    right: -1.3em;
    float: right;
    font-size: 8pt;
    height:0;
}

/*
 * Colors:
 */

#menu {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu a:focus { outline-color: white; }

.block {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 3px 0px rgba(20, 20, 20, 0.4);
    box-shadow: 0 0 24px -8px rgb(110, 110, 110);
}

.rules {
    background-color: #05362D;
    color: #9FA79C;
}

.block a { color: #C59A57; }

.block a[href^="#"] { color: white; }

.block.nobackground a { color:white; }

.block h1 a, .block h2 a, .block h3 a, .block h4 a, .block h5 a, .block h6 a { color: white; }

.block a:hover { color: #FFCB0F; }

.major_issue { background-color:#ff4444; /* red */ }
.minor_issue { background-color:#ffee00; /* yellow */ }
.no_issue    { background-color:#00ee00; /* green */ }

.nobackground {
    background:none;
    box-shadow:none;
    padding: 0;
    margin-bottom: 0.6em;
    margin-top: -.6em;
}

.rules h1, .rules h2, .rules h3, .rules h4, .rules h5, .rules h6 { color:#FFD9BB; }

img {
    border: 0;
    padding: 0;
    margin: 0;
}

table.directory {
    margin-top: 1.2em;
    width: 100%;
    border-collapse: collapse;
    padding: inherit;
}

table tr th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom:.5em;
}

td {
    border: none;
    padding: 0;
    margin: 0;
}

table.directory th,
table.directory td {
    padding: 1.2em;
}

table.directory th {
    padding-top: 0;
}

table.directory td {
    font-size: small;
}

table.directory tbody tr,
dl.codebox,
.topiclist li,
table.table1 tbody td {
    border-color: #333;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.topiclist li { padding: 11px 22px; margin: 2px; }

.topiclist li.header {
    border-width: 0;
    color: white;
    font-size: 1em;
    font-weight: 300;
    text-shadow: 0px 1px 1px #666;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.block.topiclist { padding: 0; }

.topiclist li:not(.header):hover,
table.directory tbody tr:hover,
table.table1 tbody tr:hover,
table.table1 tbody tr.hover {
    border-color: #666;
}

/* ---- */

.topiclist { list-style-type: none; }

.forumrow           { font-size: .75em; }
.forumrow .posts,
.forumrow .topics,
.forumrow .views    { width: 25%; text-align: center; }
.forumrow .lastpost { width: 49%; }

.forumrow .icon {
    min-height: 35px;
    background-position: 7px 50%; /* Position of folder icon */
    background-repeat: no-repeat;
}
.forumrow .icon dt { /*padding-left: 45px; /*folder icon spacing*/ }

.forumrow a.subforum {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 12px;
}

/* ---- */

table.table1 {
    border-collapse:collapse;
}

dl.codebox {
    font-size: 9pt;
    border-width: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

dl.codebox dt {
    text-transform: uppercase;
    border-bottom-width: 1px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    padding: .5em;
}

dl.codebox dd {
    margin: 0;
}

dl.codebox code {
    display: block;
    height: 100px;
    white-space: normal;
    padding-top: 5px;
    font-family: Monaco, "Andale Mono","Courier New", Courier, mono;
    line-height: 130%;
    color: #726C6C;
    padding:1.6em;
    box-shadow: 7px 9px 18px -14px black inset;
    border-top: 1px solid #383838;
    overflow:hidden;
    resize: vertical;
}

dl.codebox code:hover {
    background: white;
    color: #333;
    overflow: auto;
}

.block .newspost.content img,
.block .blogpost.content img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Quick "fix" kludge to address link spacing in news posts on the homepage. */
.block .newspost.content > a, .block .blogpost.content > a {
    display:inline-block;
    margin-left: 0.5ex;
}

.block .postauthor a { color: #C59A57; }

.postauthoravatar { margin-bottom: 1.2em; }

.postauthoravatar p { margin: 0; }

.profile-icons {
    float: right;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.profile-icons li {
    float: left;
    margin: 0;
    padding: 0 .3em;
    border: 1px solid;
    border-top: none;
    border-right: none;
}

.profile-icons li a {
    display: block;
}

.profile-icons li,
.profile-icons li a {
    color: #4D4D4D;
    border-color: #4D4D4D;
}

.profile-icons .warn-icon a {
    color: red;
    font-weight: bolder;
}

.warn-icon a, .report-icon a, .delete-icon a, .info-icon a { width: 1em; }
.edit-icon a { width: 2.9em; }
.quote-icon a { width: 4.1em; }

.postprofile .profile-icons li {
    border: none;
}

.postprofile .profile-icons li a {
    display: none;
}

fieldset {
    border: 2px solid #585858;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
    text-align: center;
}

fieldset.display-options label {
    white-space: nowrap;
    padding-right: 2px;
}

dl {
    margin: 0;
}

dt.inline-term {
    display: inline-block;
    float: left;
}

div {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: circle;
    margin-bottom:1em;
    margin-top:1em;
    padding-left:2.4em;
}

div.game-sprite {
    float: right;
    width: auto;
}

/* Horizontally aligned lists (used for navigation bars mainly). */

.hnav {
    white-space: nowrap;
    text-align:center;
}

.hnav ul {
    margin-left: 0;
    padding-left: 0;
}

.hnav li {
    display: inline-block;
}

div.jumplist_wrapper {
    text-align: center;
}

ol.jumplist {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align:left;
    display:inline-block;
    vertical-align:top;
    margin:0;
    margin-top:1em;
    padding:0 1em;
}

ol.jumplist li {
    padding-right:1.8em;
}

.centered {
    text-align:center;
}

.centered div {
    text-align:left;
    display: inline-block;
}

/*----------------- Picture frame ----------------*/

.picture {
    margin: .6em;
    padding: .6em;
    display: inline-block;
    font-size: small;
    vertical-align: text-top;
    background: #414141;
    max-width: 94%;
}

.picture p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.picture img {
    display: block;
    margin-bottom: .6em;
    border: 2px solid black;
}

/*------------------ Library Icons -----------------*/

.heading.collapsible {
    cursor: pointer;
}

/*---------------- Main site frame ----------------*/

#main {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1100px;
    min-width: 355px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 767px) {
#main { overflow: visible; }
}

.framepanel {
    overflow: hidden;
    position: relative;
}

/*---------------- Navigation Bar -----------------*/

#menuouter {
    position:relative;
    z-index: 4;
}

#menu {
    font-size: 70%;
    padding: 0 1em;
}

#menu a:focus { outline-offset: 0; }

#menu ul {
    margin: 0;
    border: 0;
    padding: 0;
}

#menu section {
    display: inline-block;
    min-width: 12em;
    text-align: right;
}

#menu li {
    position: relative;
    list-style-type: none;
    display: inline;
}

#menu li.logo {
    background: url(http://dengine.net/images/deng-logo-sq-114x114-web.png) no-repeat;
    background-position: 50%;
    background-size: 110%;
    padding: 26px 0;
    margin: 0;
}

#menu li.logo a {
    padding-top: 48px;
    padding-bottom: 33px;
    padding-left: 68px;
    outline: 0 none;
}

#menu a, span.paddle_left_select,
#menu a, span.paddle_right_select {
    position:inherit;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: .25em;
    padding-right: .25em;
    color: white;
}

span.paddle_left_select, span.paddle_right_select {
    border-bottom: 2px solid white;
}

#menu a:hover {
    color: #FFC764;
}

@media only screen and (min-width: 767px) {
#menu { font-size: 100%; }
#menu section { min-width: 13em; }
#menu li.logo { background-size: 100%; padding: 64px 0; }
#menu li.logo a { padding-left: 104px; }
}

#divider {
    width: 100%;
    height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
}

#divider2 {
    width: 100%;
    height: 18px;
}

/*-------------------- Top Panel -------------------*/

#framepanel_top {
    position: absolute;
    width: 100%;
}

#panorama {
    position: relative;
    left:50%;
    margin-left:-650px;
    width: 1300px;
    background: #282D2B url(panoramarotator) no-repeat;
    background-position-y: -90px;
}

#framepanel_top, #panorama {
    height: 150px;
}

#framepanel_bottom {
    float: right;
    clear: both;
    margin: 0;
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

#pageheading,
#latestversion {
    position: relative;
    margin-top: -6em;
    white-space: nowrap;
    z-index: 1;
    color: white;
}

#pageheading { float: left; }
#latestversion { float: right; }

#pageheading h1,
#latestversion h1 {
    font-size: 1.8em;
    margin-top: 0;
}

#pageheading h1 { margin-left: .4em; }
#latestversion h1 { margin-right: .4em; }

#latestversion a { color: white; }
#latestversion a:hover { color: #FFCB0F; }

@media only screen and (min-width: 767px) {
#framepanel_top, #panorama { height: 270px; }
#framepanel_bottom { margin-top: 270px; }
#pageheading, #latestversion { margin-top: -7.5em; }
#pageheading h1, #latestversion h1 { font-size: 2.5em; }
#panorama { background-position-y: 0; }
}

#contentbox, #contentbox2 {
    text-align: left;
    line-height: 1.65;
    margin: 1.2em -.6em;
}

.postbody {
    float: right;
    width: 80%;
}

.search .postbody {
    float: none;
    width: auto;
}

div.clear {
    clear: both;
    width: 100%;
}

/*----------------------- Footer ----------------------*/

#main footer {
    width: 100%;
    font-size: xx-small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#main footer p.disclaimer a { color: #8F8977; }

#main footer p.legal { color: #999; }

#main footer p.legal a { color: #8F8977; font-weight: bold; }

#search-box {
    position: relative;
    float: right;
    margin: 1.6em;
    top: -150px; /* minus (image height - divider height) */
    font-size: xx-small;
    text-align: right;
    height: auto;
}

@media only screen and (min-width: 767px) {
#search-box {
    top: -270px;
}
}

/*----------------- Status ----------------------*/

.new {
    color: white;
    font-weight: bold;
    font-size: 106%;
}

.new:after {
    content: " - NEW";
    color: #A7A29C;
}

#status {
    font-size: 66%;
}

#recentbuilds { float: left; }
#activeservers { float: right; }

#status ol {
    font-size: xx-small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#status ol li {
    list-style-type: none;
}

#status article header p {
    margin-top: -.2em;
    margin-bottom: 1.2em;
}

#status .servers .name {
    color: white;
    font-weight: bold;
}

/*----------------- Get It Now Panel ---------------*/

.asidebox {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:.8em;
}

#downloadbox, #socialbookmarkbox {
    text-align: center;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    overflow: hidden;
}

#downloadbox div.hnav ul {
    margin-top: 0;
    margin-bottom: 0;
}

.platform_buttons {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

#downloadbox div.hnav ul li, div.platform_buttons ul li {
    padding: 0;
    margin-left: .6em;
    margin-right: .6em;
    list-style-type: none;
}

#downloadbox a.platform_icon {
    display: inline-block;
    width: 63px;
    height: 69px;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

#downloadbox ul li {
    margin-bottom: .4em;
    list-style-type: none;
}

#downloadbox a.windows_icon {
    background-image: url(images/windowslogo.png);
    background-position: 0 0;
}

#downloadbox a.macos_icon {
    background-image: url(images/macosxlogo.png);
    background-position: 0 0;
}

#downloadbox a.ubuntu_icon {
    background-image: url(images/ubuntulogo.png);
    background-position: 0 0;
}

#downloadbox a.linux_icon {
    background-image: url(images/linuxlogo.png);
    background-position: 0 0;
}

.getitnow-label {
    font-size: x-large;
    text-align:center;
}

.getitnow-label a, a:hover, a:visited:hover {
    text-decoration: none;
}

.getitnow-label span.free-label {
    font-style: italic;
    font-size: medium;
}

#socialbookmarkbox .hnav {
    white-space: normal;
}

#socialbookmarkbox .hnav ul {
    margin-top: 0;
    margin-bottom: 0;
}

#socialbookmarkbox .hnav ul li {
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: 0;
}

.sf-button {
    position:relative;
    top:-3px;
}

.ohloh-button {
    margin-top: .4em;
    /* The button is visually smaller than the defined dimensions of the iframe... */
    margin-bottom: -14px;
    margin-right: -14px;
}

.google-plusone {
    margin-top: 1em;
    width: 200px;
}

/*-------------------- Addons ---------------------*/

.addons_list {
    vertical-align:top;
    margin:0 3em;
    text-align: center;
}

.addon_badge {
    position: relative;
    margin: 0 2.5em;
    display: inline-block;
    text-align: left;
}

.addon_badge .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.addon_badge .icon img {
    margin-top: 8px;
    max-width: 48px;
    max-height: 48px;
}

.addon_badge .description {
    display: block;
    color: #807970;
}

.addon_badge .icon {
    position: absolute;
    left: -56px;
    z-index: 1;
}

.addon_badge .metadata {
    font-size: small;
}

.addon_badge .games {
    margin-left: .6em;
}

#notes, #instructions {
    font-size: small;
}

#updated {
    font-size: small;
    font-weight: normal;
}

#notes {
    font-weight: 700;
    margin-top: 1em;
}

/*-------------------- Builds ---------------------*/

/* Stream navigation widget */
#buildsnav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#buildsnav h3 {
    font-size:small;
}

#buildsnav h3 span {
    color:lightgrey;
    padding:0 1.8em;
}

#buildoverview {
    text-align:center;
}

#buildpackagelist {
}

#buildpackagelist table tr.platform {
    padding-bottom:1em;
}

#buildeventmetadata {
    vertical-align:top;
    position:relative;
    margin-right:2em;
}

#commitindex hr {
    visibility:hidden;
    margin:0;
}

#commitindex ul > li {
    padding-bottom: 1em;
}

#commitindex ul li {
    list-style-type:none;
    clear:both;
}

#commitindex ul {
    padding-left: 0;
    margin-bottom: 0;
}

#commitindex ol li {
    list-style-type:circle;
}

#commitindex ol li.more {
    list-style-type:disc;
}

#commitindex ol.jumplist li {
    list-style-type:none;
}

.buildnews_list {
    padding:inherit;
    margin:0;
}

.buildnews_list table {
    margin:1em 0;
    padding:inherit;
    border:none;
}

.buildnews_list table td {
    padding-left:.5em;
}

.commit_list ol {
    margin-bottom: 0;
    margin-top: 0;
}

.commit_list p.collapsible:hover {
    color: #FFCB0F;
}

.commit_list .tag {
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.commit_list span.tag {
    margin-right:.8em;
}

.commit_list span.title {
    color: #F0F0F0;
}

div.hnav span.commit-count {
    float:none;
    left:initial;
}

span.commit-count {
    padding-right:.5em;
    color:#aaa;
    position:relative;
    left:-100%;
    float:right;
}

.commit span.heading,
.commit blockquote {
    font-size:medium;
}

.commit blockquote {
    margin-left:2em;
}

span.metadata {
    font-size:smaller;
    margin-right:1em;
}

.commit_list p.heading {
    display:inline-block;
    margin: 0;
}

.tag_list {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tag_list .tag {
    display:inline-block;
    font-size: xx-small;
    padding: .25em .4em;
    margin-left: 1em;
    margin-right: 0;
    color: #469E46;
    border: 1px solid #486148;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

/*----------*/

.buildevent table {
    border-collapse:separate;
    border-spacing:.5em;
    display:inline-block;
    text-align:left;
}

.buildevent table tr th {
    text-align:left;
    color: white;
}

.buildevents table thead {
    text-align:center;
}

.buildevents table tbody {
    vertical-align:top;
}

.buildstreamlist {
    /*border:2px solid #EEE;/**/
    display:inline-block;
    /*background:white;/**/
}

.buildstream {
    float:left;
    overflow:hidden;
    text-align:center;
}

.buildstream ul {
    margin:0;
    padding:0;
}

.buildstream ul li {
    min-width: 3.2em;
    list-style-type:none;
    padding:0 .5em;
    vertical-align:top;
}

.buildstream ul li.current {
    /*background-color: #F2FBF2;/**/
    /*border:1px solid #F2FBF2;/**/
}

.release-badge {
    padding-bottom:.5em;
    font-size:large;
    font-weight:bold;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.buildevent_badge {
    font-family: Helvetica;
    font-weight: bolder;
    width:2.5em;
    margin-left:auto;
    margin-right:auto;
    padding:.3em .2em;
    margin-top:.25em;
    margin-bottom:1em;

    border:3px solid;
    -moz-border-top-left-radius: 40px 10px;
    -webkit-border-top-left-radius: 40px 10px;
    -o-border-top-left-radius: 40px 10px;
    -ms-border-top-left-radius: 40px 10px;
    -khtml-border-top-left-radius: 40px 10px;
    border-top-left-radius: 40px 10px;

    -moz-border-top-right-radius: 40px 10px;
    -webkit-border-top-right-radius: 40px 10px;
    -o-border-top-right-radius: 40px 10px;
    -ms-border-top-right-radius: 40px 10px;
    -khtml-border-top-right-radius: 40px 10px;
    border-top-right-radius: 40px 10px;

    -moz-border-bottom-left-radius: 40px 10px;
    -webkit-border-bottom-left-radius: 40px 10px;
    -o-border-bottom-left-radius: 40px 10px;
    -ms-border-bottom-left-radius: 40px 10px;
    -khtml-border-bottom-left-radius: 40px 10px;
    border-bottom-left-radius: 40px 10px;

    -moz-border-bottom-right-radius: 40px 10px;
    -webkit-border-bottom-right-radius: 40px 10px;
    -o-border-bottom-right-radius: 40px 10px;
    -ms-border-bottom-right-radius: 40px 10px;
    -khtml-border-bottom-right-radius: 40px 10px;
    border-bottom-right-radius: 40px 10px;
}

.buildevent_badge .startdate {
    position:relative;
    bottom:-1em;
    display:block;
    margin-bottom:-1.4em;
    white-space:nowrap;
    font-size:60%;
    left:-1em;
}

.buildevent_badge .startdate,
.buildevent_badge a[class = "startdate"]:hover,
.buildevent_badge a[class = "startdate"]:visited:hover {
    color:grey;
}

.stable,
.stable_disabled {
    color:#EEE;
    background-color:#78E;
    border-color:#56D;
    -moz-box-shadow: 0px -10px 5px 0px rgba(30,100,230,.5) inset;
    -webkit-box-shadow: 0px -10px 5px 0px rgba(30,100,230,.5) inset;
    -o-box-shadow: 0px -10px 5px 0px rgba(30,100,230,.5) inset;
    box-shadow: 0px -10px 5px 0px rgba(30,100,230,.5) inset;
}

.stable:hover,
.stable:visited:hover {
    color:#EEE;
    background-color:#9AF;
    border-color:#56D;
}

.candidate,
.candidate_disabled {
    color:#555;
    background-color:#FBA000;
    border-color:#D71;
    -moz-box-shadow: 0px -10px 5px 0px rgba(200,80,0,.5) inset;
    -webkit-box-shadow: 0px -10px 5px 0px rgba(200,80,0,.5) inset;
    -o-box-shadow: 0px -10px 5px 0px rgba(200,80,0,.5) inset;
    box-shadow: 0px -10px 5px 0px rgba(200,80,0,.5) inset;
}

.candidate:hover,
.candidate:visited:hover {
    color:#555;
    background-color:#FFC400;
    border-color:#D71;
}

.unstable,
.unstable_disabled {
    color:#860;
    background-color:#FFE400;
    border-color:#FC6;
    -moz-box-shadow: 0px -10px 5px 0px rgba(250,140,10,.5) inset;
    -webkit-box-shadow: 0px -10px 5px 0px rgba(250,140,10,.5) inset;
    -o-box-shadow: 0px -10px 5px 0px rgba(250,140,10,.5) inset;
    box-shadow: 0px -10px 5px 0px rgba(250,140,10,.5) inset;
}

.unstable:hover,
.unstable:visited:hover {
    color:#860;
    background-color:#FF3;
    border-color:#FC6;
}

#buildEventLegend {
    padding:1em 0;
    margin:0;
    margin-right:1em;
    margin-top:-.5em;
}

#buildEventLegend legend {
    margin-left:.5em;
    margin-right:4em;
}

#buildEventLegend dl {
    padding:0 .5em;
}

#buildEventLegend dl dt {
    display:inline-block;
    float:left;
    margin-right:.5em;
}

#buildEventLegend dl dd {
    margin-left:0;
    margin-bottom:.8em;
    font-size:small;
}

#buildEventLegend div.buildevent_badge {
    margin-top:0;
    margin-bottom:0;
    width:1em;
    height:.6em;
    padding:0;

    border-width:2px;
    -moz-border-top-left-radius: 10px 2px;
    -webkit-border-top-left-radius: 10px 2px;
    -o-border-top-left-radius: 10px 2px;
    -ms-border-top-left-radius: 10px 2px;
    -khtml-border-top-left-radius: 10px 2px;
    border-top-left-radius: 10px 2px;

    -moz-border-top-right-radius: 10px 2px;
    -webkit-border-top-right-radius: 10px 2px;
    -o-border-top-right-radius: 10px 2px;
    -ms-border-top-right-radius: 10px 2px;
    -khtml-border-top-right-radius: 10px 2px;
    border-top-right-radius: 10px 2px;

    -moz-border-bottom-left-radius: 10px 2px;
    -webkit-border-bottom-left-radius: 10px 2px;
    -o-border-bottom-left-radius: 10px 2px;
    -ms-border-bottom-left-radius: 10px 2px;
    -khtml-border-bottom-left-radius: 10px 2px;
    border-bottom-left-radius: 10px 2px;

    -moz-border-bottom-right-radius: 10px 2px;
    -webkit-border-bottom-right-radius: 10px 2px;
    -o-border-bottom-right-radius: 10px 2px;
    -ms-border-bottom-right-radius: 10px 2px;
    -khtml-border-bottom-right-radius: 10px 2px;
    border-bottom-right-radius: 10px 2px;
}

/*----------------- Master Server ------------------*/

.masterbrowser #pubDate, #summary {
    text-align: right;
    padding: 0;
}

.masterbrowser #serverLegend dd {
    float: left;
    margin-left: .5em;
    margin-right: 2em;
}

span.port:before {
    content:":";
}

span.port {
    padding: .5em;
}

.server_list {
    vertical-align:top;
    margin-left: 1em;
    text-align: center;
    overflow-y: scroll;
    max-height: 600px;
}

.server_list ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 56px;
}

.server_list li {
    list-style-type: none;    
}

.server_badge {
    position: relative;
    text-align: left;
    margin: 1px 0;
}

.server_badge .wrapper {
    padding: .2em .4em;
}

.server_badge .game-info {
    display: block;
    color: #807970;
}

.server_badge .name, .game-current-map, .game-setup {
    font-weight: bold;
}

.server_badge .player-count, .player-max {
    font-family: monospace;
}

.server_badge .player-count {
    margin-right: .5em;
}

.server_badge .player-max {
    margin-left: .5em;
}

.server_badge .game-mode {
    position: absolute;
    left: -56px;
    max-width: 56px;
    max-height: 56px;
    overflow:hidden;
    font-size: smaller;
    z-index: 1;
}

.server_badge .player-summary {
    min-width: 3em;
    display: inline-block;
}

.server_badge .name, .open .game-current-map, .game-setup {
    padding: .6em;
}

.server_badge .game-info {
    margin-left: 0;
}

.server_badge .server-metadata, .game-metadata {
    font-size: small;
    font-family: monospace;
}

.server_badge .server-metadata {
    float: right;
}

.lock-on, .lock-off {
    background-image: url("/images/lock.png");
    background-size: 24px 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
}

.lock-on {
    background-position: 12px 0px;
}

/*------------------ Screens Page ------------------*/

#screenshots {
    padding:.5em 1em;
}

#screenshots h2, #screenshots h3, #screenshots h4, #screenshots h5, #screenshots h6, #screenshots h7 {
    margin:0;
}

/*------------------- Games Page -------------------*/

.games_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.game_badge a {
    background-color: transparent;
    display: block;
    height: 200px
}

.game_badge a span {
    display: block;
    padding-left: 3em;
    padding-top: 140px;
}

.game_badge_doom {
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/doom_badge.png) no-repeat;
}

.game_badge_heretic {
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/heretic_badge.png) no-repeat;
}

.game_badge_hexen {
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/hexen_badge.png) no-repeat;
}

.game_badge_hacx {
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/hacx_badge.png) no-repeat;
}

.game_badge_chex {
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/chex_badge.png) no-repeat;
}

/*---------------- Platform Pages -----------------*/

.downloads_list {
    vertical-align:top;
    display: inline-block;
    margin-right:1em;
}

.downloads_list ul {
    padding:inherit;
    margin:1em 0;
}

.downloads_list ul li {
    list-style-type:none;
}

.downloads_list div.package_badge {
    margin: 1em;
    display: inline-block;
}

.package_badge {
    background-color: transparent;
    background: url(http://dl.dropboxusercontent.com/u/11948701/dengine.net/images/download_badge.png) no-repeat;
    height: 60px;
    min-width: 320px;
    padding-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    font-size: x-large;
}

.package_badge a.package_name {
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-left: 3em;
    white-space:nowrap;
}

.package_badge span.metalink {
    position: absolute;
    margin-left: 8em;
    margin-top: .5em;
    font-size: small;
}

.todo_iframe {
    background: white;
    border: 0;
    width: 100%;
    height: 100em;
    margin-top:1.2em;
}
